<h3>One-way binding + action</h3>

<div class="row">
  <div class="col-md-6">
    <p>You can pass a binding into the panel, but to respect non-mutation, the panel will never change your binding.</p>
    <p>Use the <code>didToggle</code> action to respond to a user clicking your panel.</p>
    <p>
      <CodeSnippet @name="open-binding.hbs" />
    </p>
  </div>

  <div class="col-md-6">
{{!-- BEGIN-SNIPPET open-binding --}}
<button {{on 'click' this.toggleIsOpen}} class="btn btn-default u-margin-bottom" type="button">Toggle</button>

<span>isOpen: {{this.isOpen}}</span>

{{!-- template-lint-disable no-passed-in-event-handlers --}}
<CpPanel @click={{this.toggleIsOpen}} @open={{this.isOpen}} as |cp|>
  <cp.toggle>
    <p>Click me!</p>
  </cp.toggle>
  <cp.body>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo repellendus nisi asperiores esse aperiam aliquid nulla ad dolor autem neque, nihil inventore temporibus delectus earum facere corporis, quam ipsum maxime.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus neque magnam, hic quis beatae repellendus harum modi pariatur minus quidem alias! Eius incidunt impedit eaque, est, illo officiis expedita molestiae.</p>
    </div>
  </cp.body>

</CpPanel>
{{!-- END-SNIPPET --}}
  </div>
</div>
