/*
  Sample panel styles
*/
.cp-Panel {
  border: 1px solid #ddd;
}
.cp-Panel-toggle {
  display: block;
  padding: 1em;
}
.cp-Panel-toggle:link {
  text-decoration: none;
}
.cp-Panel-toggle:hover {
  background-color: whitesmoke;
}
.cp-Panel-body-inner {
  padding: 1em;
}

/*
  Rest of docs styling
*/
.Header {
  padding-top: 10px;
  background-color: white;
  border-bottom: 1px solid #999;
  /*box-shadow: 0 0 11px 6px rgba(0,0,0,0.08);*/
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
  .Header__ted-banner {
    text-transform: uppercase;
    line-height: 40px;
    text-align: right;
  }
  .Header__ted-banner-link,
  .Header__ted-banner-link:hover {
    color: #333;
    text-decoration: none;
  }
  .Header__ted-banner-image {
    height: 40px;
    vertical-align: top;
  }
  .jumbotron .Header__subheading {
    color: #888888;
    font-weight: 200;
    font-size: 44px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .jumbotron .Header__heading {
    color: #E9280B;
    font-weight: bold;
    margin-top: 0;
  }

section {
  margin-bottom: 3em;
}

.Demo-section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

h3 {
  /*font-weight: normal;*/
  font-size: 17px;
  font-weight: bold;
  color: #555;
}

.code-highlight {
  color: #337ab7;
}



.u-margin-top {
  margin-top: 1em;
}
.u-margin-bottom {
  margin-bottom: 1em;
}

pre {
  word-wrap: normal;
}
