<TedPageHeader @subheading="Ember" @slim-heading="Collapsible" @strong-heading="Panel" @byline="An unopinionated, zero-dependency panel and accordion" @github="https://github.com/adopted-ember-addons/ember-collapsible-panel" />

<div class="Main container">
  <section>
    <h2>Installation and requirements</h2>

    <p><pre>ember install ember-collapsible-panel</pre></p>

    <br />

    <p>The 2.x series of Collapsible Panels relies on contextual components, a feature introduced in Ember 2.3.</p>
    <p>If your app is on a version &lt; 2.3, install the 1.0 version of this library (with <code>ember install ember-collapsible-panel@1.0</code>).</p>

    <br>

    <p>You can optionally install <a href="https://github.com/ef4/liquid-fire">Liquid Fire</a> for animation support. For more details, see <a href="#animations">Animation</a>.</p>

  </section>

  <section>
    <h2>Usage</h2>

    <div class="Demo-section"><Demo::BasicUsage /></div>

    <div class="Demo-section"><Demo::StartOutOpen /></div>

    <div class="Demo-section"><Demo::DisabledPanel /></div>

    {{!-- <div class="Demo-section">{{demo/two-way-binding}}</div> --}}

    {{!-- <div class="Demo-section">{{demo/one-way-binding}}</div> --}}

    <div class="Demo-section"><Demo::AccordionUsage /></div>

    <div class="Demo-section"><Demo::NestedPanels /></div>

    <div class="Demo-section"><Demo::ProgrammaticControl /></div>

    <div class="Demo-section" id="animations"><Demo::AnimationUsage /></div>
  </section>

  <section>
    <h2>Structure and styling</h2>

    <div class="row">
      <div class="col-md-6">
        <p>The class names of the structure of a panel are shown to the right.</p>
        <p>Panel body content is only rendered if the panel is open.</p>
        <p>The panel, toggle and body all get the `cp-is-open` class when the panel is open. This is so you can style each piece based on the state of the panel - descendent selectors can get tricky since you can nest panels.</p>
        <p>Finally, if you want to add padding to the body, target `.cp-Panel-body-inner`. Changing the height of the `.cp-Panel-body` itself will interfere with the animation.</p>
        <p><strong>Sample styling</strong></p>
        <p>Here's the default markup and styling used for the panels in this site:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

<pre>&lt;!-- closed panel --&gt;
&lt;div class='cp-Panel'&gt;
  &lt;a href='#' class='cp-Panel-toggle'&gt;
  &lt;/a&gt;
  &lt;div class='cp-Panel-body'&gt;
    &lt;!-- content is not rendered --&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- open panel --&gt;
&lt;div class='cp-Panel <span class='code-highlight'>cp-is-open</span>'&gt;
  &lt;a href='#' class='cp-Panel-toggle <span class='code-highlight'>cp-is-open</span>'&gt;
  &lt;/a&gt;
  &lt;div class='cp-Panel-body <span class='code-highlight'>cp-is-open</span>'&gt;
    &lt;div class='cp-Panel-body-inner'&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>

      </div>
      <div class="col-md-6">
        <p><CodeSnippet @name="panel-styles.scss" /></p>
      </div>
    </div>
  </section>


</div>
