{{#if @shouldAnimate}}

  {{#this.liquidif @isOpen use='crossFade'}}
    <div class="cp-Panel-body-inner">
      {{yield}}
    </div>
  {{/this.liquidif}}

{{else}}

  {{#if @isOpen}}
    <div class="cp-Panel-body-inner">
      {{yield}}
    </div>
  {{/if}}

{{/if}}
