<h3>Animation</h3>

<p>If <a href="https://github.com/ef4/liquid-fire">Liquid Fire</a> is installed, animations will automatically be enabled.</p>
<p>Panels will use the <code>crossFade</code> transition included in Liquid Fire.</p>

<h4>Disabling animations</h4>
<p>To disable animations, add <code>animate: false</code> to a <code>cp-panel</code></p>
