  <h3>Standard usage</h3>

  <div class="row">
    <div class="col-md-4">
      <p>
<pre>&lbrace;&lbrace;#cp-panel&rbrace;&rbrace;
  &lbrace;&lbrace;#cp-panel-toggle&rbrace;&rbrace;
    &lt;p&gt;Click me!&lt;/p&gt;
  &lbrace;&lbrace;/cp-panel-toggle&rbrace;&rbrace;

  &lbrace;&lbrace;#cp-panel-body&rbrace;&rbrace;
    &lt;p&gt;Lorem...&lt;/p&gt;
  &lbrace;&lbrace;/cp-panel-body&rbrace;&rbrace;
&lbrace;&lbrace;/cp-panel&rbrace;&rbrace;
</pre>
      </p>
    </div>

    <div class="col-md-8">
      {{#cp-panel}}
        {{#cp-panel-toggle}}
          <p>Click me!</p>
        {{/cp-panel-toggle}}
        {{#cp-panel-body}}
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo repellendus nisi asperiores esse aperiam aliquid nulla ad dolor autem neque, nihil inventore temporibus delectus earum facere corporis, quam ipsum maxime.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus neque magnam, hic quis beatae repellendus harum modi pariatur minus quidem alias! Eius incidunt impedit eaque, est, illo officiis expedita molestiae.</p>
          </div>
        {{/cp-panel-body}}

      {{/cp-panel}}
    </div>
  </div>
